h1, h3, h5 {
	font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	padding: 60px 0px 0px 150px;
}

h3, h5 {
  padding-left: 150px;
}

.glyphicon-trash {
	margin-right: 5px;
	margin-left: 5px;
	font-size: 16px;
}

.glyphicon-inbox {
	margin-right: 2px;
}

.chat-box {
	margin-top: 10px;
}

.conversation-recipient {
	min-width: 120px; 
	display: inline-block;
}

.user-div {
	margin-top:20px;
}

.user-img {
	width: 64px; 
	height: 64px;
}